<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972326133842-aeq01rvu9ga54hln0qk0c5fm2vbmlrcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972326133842-aeq01rvu9ga54hln0qk0c5fm2vbmlrcf</string>
	<key>API_KEY</key>
	<string>AIzaSyChtJgiO-jIuroXWjPUk0K3l8uRd58tuCA</string>
	<key>GCM_SENDER_ID</key>
	<string>972326133842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unn.ar</string>
	<key>PROJECT_ID</key>
	<string>ar-unn</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-unn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972326133842:ios:52898e823ebd35f517ff8b</string>
</dict>
</plist>